/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    background-color: #0d0f36;
    color: #f1f6ce;
}

.contenedor-centrado {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 120px;
}

#logo_Codo {
    max-width: 200px;
}

.navbar-index {
    margin: 0;
    padding: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #294380;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed !important;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.logo-nav {
    height: 80%;
    overflow: hidden;
    margin-left: 1em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #b9f1d6;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: #0d0f36;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #69d2cd;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #294380;
    border: 1px solid #69d2cd;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    color: #f1f6ce;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #294380;
    border: 1px solid #69d2cd;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    color: #f1f6ce;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #69d2cd;
    color: #0d0f36;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0d0f36;
    color: #69d2cd;
}

button {
    padding: 8px;
    margin: 4px;
    background-color: #69d2cd;
    color: #0d0f36;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0d0f36;
    color: #69d2cd;
}

a {
    padding: 8px;
    margin: 4px;
    background-color: #b9f1d6;
    color: #0d0f36;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;
}

a:hover {
    background-color: #0d0f36;
    color: #b9f1d6;
}

/* Estilos para paginación */
button.activo {
    background-color: #0d0f36;
    color: white;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #294380;
    color: white;
}

